<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Riina Kikkas, veebiprogrammeerimine 2024</title>
</head>
<body>
	<img src="/banner/vp_banner_2024.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1>Uudised</h1>
	<ul>
		
	</ul>
	<hr>

</body>
</html>