<!DOCTYPE html>
<html lang="et">

<head>
 <meta charset ="utf-8">
 <title>Riina Kikkas</title>
</head>

<body>
<img src="/banner/vp_banner_2024.png" alt="Veebiprogrammerimise 2024 bänner">
<h1>Riina Kikkas</h1>
<p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee"
target="_blank">Tallinna Ülikoolis</a> ja ei sisalda tõsiseltvõetavat sisu.</p>


<p>Riina arvab, et see leht pole veel valmis ja teeb siia palju muudatusi.</p>
<hr>
<ul>
 <li><a href="/home">Home</a></li>
</ul>
<hr>
<h2>Uudised</h2>
<ol>
  <% news.forEach(function(item) { %>
    <li>
      <h3>Pealkiri: <%= item.news_title %></h3>
      <p>Lisamise kuupäev: <%= item.news_date %></p>
      <p>Sisu: <%= item.news_text %></p>
    </li>
  <% }); %>
</ol>

<% if (userName) { %>
    <p>Tere, <%= userName %>!</p>
<% } %>

</body>
</html>