<!DOCTYPE html>
<html lang="et">

<head>
 <meta charset ="utf-8">
 <title>Riina Kikkas</title>
</head>

<body>
<img src="/banner/vp_banner_2024.png" alt="Veebiprogrammerimise 2024 bänner">
<h1>Riina Kikkas</h1>
<p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee"
target="_blank">Tallinna Ülikoolis</a> ja ei sisalda tõsiseltvõetavat sisu.</p>


<p>Riina arvab, et see leht pole veel valmis ja teeb siia palju muudatusi.</p>
<hr>
<ul>
  <li><a href="/">Avaleht</a></li>
  <li><a href="/eestifilm">Eesti filmi avaleht</a></li>
</ul>
<h2>Eesti filmitegelased</h2>
<ul>
  <% persons.forEach(function(item) { %>
  <li><%= item.first_name%> <%= item.last_name%>, sündinud <%= item.birth_date%></li>
  <% }); %>
</ul>


</body>
</html>