<!DOCTYPE html>
<html lang="et">

<head>
 <meta charset ="utf-8">
 <title>Riina Kikkas</title>
</head>

<body>

<hr>
<h1>VILJAVEDU</h1>

<hr>
<ul>
 <li><a href="/input">Viljaveo andmete sisestamine</a></li>
 <li><a href="/middle">Näita ootel koormaid</a></li>
  <li><a href="/output">Andmete kuvamine</a></li>
</ul>


</body>

</html>